#root {
  background-color: #e0e0e0;
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
}

.App > .toolbar {
  height: 6vw;
  background-color: #616161;
  box-shadow: 1px 1px 1px lightgray;
  display: flex;
}

.App > .toolbar > img {
  height: 100%;
  padding-left: 1vw;
}

.App > .container {

}
